* {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    padding: 12px;
    justify-content:space-around;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 900;
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    font-weight: 300;
    
}

.hero-block {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-basis: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-block h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-block p {
    font-size: 18px;
    color:#E5E7EB;
    max-width: 500px;
    margin: 12px 0;
}

.information img {
    border-radius: 20px;
    border: 3px solid #3882F6;
    margin-bottom: 8px;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 64px;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.quote-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin: 12px;
}
.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    max-width: 950px;
}

.attribute {
    font-size: 22px;
    font-weight: 900;
    text-align: right;
}

.quote-block {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #E5E7EB;
    padding: 128px 0;
    margin: 64px 0;
}

.call-to-action {
    background: #3882F6;
    margin: 128px auto;
    padding: 50px 80px;
    max-width: 800px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
}

.cta-text h3 {
    font-size: 24px;
}

.footer {
    display: flex;
    padding: 40px;
    justify-content:center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

img {
    flex-shrink: 0;
}

button {
    background: #3882F6;
    border: 0;
    color: #E5E7EB;
    padding: 8px 32px;
    margin: 8px 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.call-to-action button {
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
}